
body{
  display: flex;
  justify-content: center;
}

h1{
  display: flex;
  justify-content: center; 
}

ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: #222;
}
li{
  padding:10px 0;
}