
html{
  font-size: 62.5%;
}
td{
  border: 2px solid black;
}

table{
  border-collapse: collapse;
}

td{
  width: 5rem;
  height: 5rem;
  /* width: 100px; */

}

table tr:first-child td {
  border-top: none;
}

table tr td:first-child {
  border-left: none;
}
table tr:last-child td {
  border-bottom: none;
}
table tr td:last-child {
  border-right: none;
}